@font-face {
    font-family: CaviarDreams;
    src: url(fuentes/CaviarDreams.ttf);
}

@font-face {
    font-family: Allura;
    src: url(fuentes/Allura-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400&display=swap');


/* grid1= index/biografia/contacto*/

.grid {
    display: grid;
    grid-template-areas: "section""footer";
    grid-template-rows: auto 200px;
    height: 100vh;
}

section {
    grid-area: section;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #212832;
}

/* ---*/

body {
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'CaviarDreams';
}

h4 {
    font-family: 'CaviarDreams';
    font-weight: bold;
}

p {
    font-family: 'Raleway', sans-serif;
    
    color: #262626;
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

/* Nav Bar*/

.navbar {
    background-image: linear-gradient(#212832, #212832, #212832);


}

.imagen-logo-nav:hover {
    transform: scale(1.05, 1.05);
}

.nav-link {
    font-family: 'CaviarDreams';
    margin-left: 15px;
    margin-right: 15px;
}

#link-nav:hover {
    color: #e2dfa2;
    font-weight: bold;
}

.dropdown-item {
    background-color: #212832;
    padding-top: 15px;
    padding-bottom: 15px;
    color: whitesmoke;
}

.dropdown-menu {
    background-color: #212832;
    font-family: 'CaviarDreams';
    font-size: 15px;
}

#item-drop1:hover {
    background-color: #e78a87;
    color: white;
}

#item-drop2:hover {
    background-color: #a1be95;
    color: white;
}

#item-drop3:hover {
    background-color: #92aac7;
    color: white;
}

/* index*/

.carousel-inner .carousel-item img {
    margin-top: 65px;
    height: 220px;
}

.carousel-control-prev {
    margin-top: 50px;
}

.carousel-control-next {
    margin-top: 50px;
}

#boton-slide {
    background-color: #f5f5f5;
    color: #262626;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    border: white solid 2px;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
    margin-top: 27px;
    margin-bottom: 5px;

    &:hover {
        background-color: #e2dfa2;
        color: #212832;
        border: 2px solid #f5f5f5;
    }
}

.frasePrincipal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 30px 20px 30px;
    color: #262626;
    font-style: oblique;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;

    p {
        font-family: 'CaviarDreams';
        color: #262626;
    }
}

.index-firma {
    @include sizes(200px, 45px);
}

.containerBotonSubscribir {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.botonsubscribir {
    list-style-type: none;
    padding: 30px;
    margin: 5px;
}

.label1 {
    text-align: center;
    font-family: 'CaviarDreams';
    color: #212832;
    font-size: 10px;
    font-weight: bold;
}

::placeholder {
    text-align: center;
    font-family: 'CaviarDreams';
    color: grey;
    font-size: 15px;
    font-weight: bolder;
}

.b1 {
    @include sizes(250px, 40px);
    border: transparent;
}

.label2 {
    border-bottom: 1px solid grey;
}

.botonSubs {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-image: linear-gradient(#212832, #3d495c, #212832);
    font-size: 15px;
    @include sizes(150px, 40px);
    text-align: center;
    border: solid 2px #212832;
    border-radius: 5px;
    margin-bottom: 50px;

    &:hover {
        background-image: linear-gradient(#e2dfa2, white, #e2dfa2);
        border: solid 2px #e2dfa2;
        font-weight: bold;
        color: #3d495c;
    }
}

/* biografia*/

.containerP1 {
    border-top: #e2dfa2 solid 3px;
    background-color: #212832;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}

.h2biografia {
    color: white;
    padding: 5px 0;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.h3biografia {

    color: white;
    font-style: oblique;
    letter-spacing: 2px;
    margin-top: 5px;
}

.parrafoacercaDeMi {
    color: white;
    margin: 30px;
    text-align: justify;

    p {
        color: white;
    }
}



.lista-acerca-de-mi {
    color: white;
    font-family: 'Raleway', sans-serif;
    

}

.botonMas {
    display: flex;
    justify-content: center;
}

.botonMasA {
    font-family: 'CaviarDreams';
    color: white;
    background-image: linear-gradient(#212832, #3d495c, #212832);
    font-size: 15px;
    width: 200px;
    height: 40px;
    text-align: center;
    border: solid 2px #212832;
    margin-top: 35px;

    &:hover {
        font-weight: bold;
        color: #e2dfa2;
        transform: scale(1.01, 1.01);
    }
}

.containerP2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imagenB {
    @include sizes(230px, 200px);
    margin: 40px;
    border: #e2dfa2 4px solid;
}

.masAcercaDeMi {
    margin: 30px;
    margin-top: 10px;
    text-align: justify;

    .masAcercaDeMi-parrafo {
        text-align: center;
    }
}

.parrafo-acerca-ultimo {
    font-style: italic;
    text-align: center;
    margin-left: 53px;
    margin-right: 53px;
}

/* Articulos = Ser Conscientes*/

.h2articulosSC {
    background-color: #e78a87;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 65px;
    margin-bottom: 0;
    font-family: 'CaviarDreams';
    font-size: 20px;
    letter-spacing: 2px;

}

.h3serConscientes {
    text-align: center;
    padding: 10px;
    color: #262626;
    margin-top: 10px;
    font-family: 'CaviarDreams';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bordeH3SC {
    border-bottom: #e78a87 2px solid;
    margin-left: 70px;
    margin-right: 70px;
}

.contenedor-articulos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}


.section-blog-contenido--articulo {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    
    
}
.section-blog-contenido--imagen {
    width: 300px;
    height: 200px;
    
}
.section-blog-contenido--texto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin-top: 10px;
    
}
.blog-articulo-redes--fecha {
    font-family: 'Asap', sans-serif;
    opacity: 50%;
    font-size: 15px;
    margin-bottom: 20px;
}
.blog-articulo-titulo {
    font-family: 'Asap', sans-serif;
    text-align: justify;
    color: #394245;
    font-size: 25px;
    
}
.blog-articulo-texto {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-size: 15px;
    
}
.articulos__boton {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-image: linear-gradient(#212832, #3d495c, #212832);
    font-size: 12px;
    @include sizes(100px, 30px);
    border: solid 2px #212832;
    margin-top: 0;
    letter-spacing: 1px;
    border-radius: 0px;

    &:hover {
        background-color: #3d495c;
        border: solid 2px #212832;
        font-weight: bold;
        transform: scale(1.01, 1.01);
    }
}

/* Pagina articulos desde boton*/

.contenedor-secciones-articulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 30px;
}

.contenedor-secciones-articulos__boton {
    font-family: 'CaviarDreams';
    color: #393d46;
    font-size: 20px;
    font-weight: bold;
    @include sizes(300px, 100px);
    text-align: center;
}

.contenedor-secciones-articulos__boton--sc {
    @extend .contenedor-secciones-articulos__boton;
    background-image: linear-gradient(#e78a87, white, #e78a87);
    border: solid 2px #e78a87;
    margin-top: 50px;

    &:hover {
        transform: scale(1.02, 1.02);
    }
}

.contenedor-secciones-articulos__boton--sr {
    @extend .contenedor-secciones-articulos__boton;
    background-image: linear-gradient(#a1be95, white, #a1be95);
    border: solid 2px #a1be95;
    margin-top: 35px;

    &:hover {
        transform: scale(1.02, 1.02);
    }
}

.contenedor-secciones-articulos__boton--vv {
    @extend .contenedor-secciones-articulos__boton;
    background-image: linear-gradient(#92aac7, white, #92aac7);
    border: solid 2px #92aac7;
    margin-top: 35px;
    margin-bottom: 50px;

    &:hover {
        transform: scale(1.02, 1.02);
    }
}

/* Pagina de cada articulo */

.container-articulo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.container-articulo__imagen {
    @include sizes(90%, 200px);
    
    
}

.container-articulo__titulo {
    font-size: 20px;
    margin: 10px;
}

.container-articulo__parrafo {
    margin: 30px;
    margin-top: 10px;
    text-align: justify;

}
.texto-centrado {
    text-align: center;
}
.sangria {
    margin-left: 30px;
}
.subrayado {
    text-decoration: underline;
}
.lista-en-articulos {
    font-family: 'Raleway', sans-serif;
}

.firma-articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.firma-articulos__imagen {
    @include sizes(200px, 45px);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.container-articulo__icono {
    color: #3d495c;
    font-size: 30px;
    opacity: 60%;

    &:hover {
        opacity: 100%;
    }
}

/* Articulos = Ser Responsables*/

.h2articulosSR {
    background-color: #a1be95;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 65px;
    margin-bottom: 0;
    font-family: 'CaviarDreams';
    font-size: 20px;
    letter-spacing: 2px;
}

.h3serResponsables {
    text-align: center;
    padding: 10px;
    color: #262626;
    margin-top: 10px;
    font-family: 'CaviarDreams';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bordeH3SR {
    border-bottom: #a1be95 2px solid;
    margin-left: 70px;
    margin-right: 70px;
}

/* Articulos = Vivir con Valores*/

.h2articulosVV {
    background-color: #92aac7;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 65px;
    margin-bottom: 0;
    font-family: 'CaviarDreams';
    font-size: 20px;
    letter-spacing: 2px;
}

.h3serVivirConValores {
    text-align: center;
    padding: 10px;
    color: #262626;
    margin-top: 10px;
    font-family: 'CaviarDreams';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bordeH3VV {
    border-bottom: #92aac7 2px solid;
    margin-left: 70px;
    margin-right: 70px;
}

/* Frases*/

.h2frasesPodcastContacto {
    background-color: #3d495c;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 65px;
    margin-bottom: 0;
    font-family: 'CaviarDreams';
    font-size: 20px;
    letter-spacing: 2px;
}

.h3frases {
    text-align: center;
    padding: 10px;
    color: #212832;
    margin-top: 10px;
    font-family: 'CaviarDreams';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bordefrasesSC {
    border-bottom: #e78a87 3px solid;
    margin-left: 100px;
    margin-right: 100px;
}

.bordefrasesSR {
    border-bottom: #a1be95 3px solid;
    margin-left: 100px;
    margin-right: 100px;
}

.bordefrasesVV {
    border-bottom: #92aac7 3px solid;
    margin-left: 100px;
    margin-right: 100px;
}

.frases {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.frases-imagenes-redes--iconos {
    color: #3d495c;
    font-size: 20px;
    opacity: 60%;

    &:hover {
        opacity: 100%;
    }
}

.frases__imagen--sc {
    @include sizes(250px, 250px);
    margin-top: 40px;
    border: #e78a87 3px solid;
    margin-bottom: 10px;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

.frases__imagen--sr {
    @include sizes(250px, 250px);
    margin-top: 40px;
    margin-bottom: 10px;
    border: #a1be95 3px solid;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

.frases__imagen--vv {
    @include sizes(250px, 250px);
    margin-top: 40px;
    margin-bottom: 10px;
    border: #92aac7 3px solid;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

/* Pagina de cada frase ser consciente*/

.h2-frase-SC {
    background-color: #e78a87;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 65px;
    margin-bottom: 0;
    font-family: 'CaviarDreams';
    font-size: 20px;
    letter-spacing: 2px;

}

.frase-sc-imagen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.contenedor-frase-sc--imagen {
    @include sizes(320px, 320px);
    margin-top: 40px;
    margin-bottom: 20px;
    border: #e78a87 3px solid;

}

.frase-imagen-titulo {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}

.frase-imagen--texto {
    font-size: 20px;
    margin: 10px;
}

.frase-firma-caro {
    @include sizes(180px, 50px);
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Podcast*/

#section-fondo {
    background-color: #b9bac3;
}

.contenedor-podcast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.podcast-nuevo {

    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
    box-shadow: #645C54 15px 5px 15px;
    width: 90%;

}

.podcast-imagen {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #393d46;
}

.podcast-contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;  
    width: 100%;
    
}

.h5podcast {
   
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #3d495c;
    letter-spacing: 0.5px;
}

.h6podcast {
    
    margin-top: 2px;
    margin-bottom: 0;
    padding: 0;
    color: #645C54;
    font-weight: bold;
    
}

.podcast-audio {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
}

.podcast-iconos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    

}

.podcast-iconos--img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    
    border: solid 2px #dfdfe0;


    &:hover {
        transform: scale(1.03, 1.03);
    }
}


.podcast-iconos-suscribe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../multimedia/fondo-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.podcast-iconos--susc {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    border: solid 2px white;

    &:hover {
        transform: scale(1.03, 1.03);
    }

}

.podcast-h2-suscribe {

    color: white;

}

/* Modal - Contacto*/

#boton-modal-contacto {
    border: solid 1px #e2dfa2;
    color: #e2dfa2;
    font-family: 'CaviarDreams';

    &:hover {
        background-color: #e2dfa2;
        color: #393d46;
    }
}

.modal-content {
    background-color: #393d46;

}

.modal-title {
    font-family: 'CaviarDreams';
    font-weight: bold;
    color: white;
}

.containerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#boton-close-modal {
    background-color: white;
    border: 1px solid white;
    color: #212832;
    font-family: 'CaviarDreams';
    font-weight: bold;

    &:hover {

        transform: scale(1.03, 1.03);
    }
}

.form {
    list-style-type: none;
    background: #e2dfa2;
    color: #645C54;
    font-family: 'CaviarDreams';
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
}

input {
    font-family: 'CaviarDreams';
    color: #262626;
    font-size: 15px;
    background: transparent;
    border: solid 2px whitesmoke;
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

.botonEnviar:hover {
    background-color: #393d46;
    color: white;
}

input:hover,
textarea:hover {
    background-color: whitesmoke;
}

.botonEnviar {
    background: white;
    font-size: 15px;
    width: 100px;
    text-align: center;
}

textarea {
    font-family: 'CaviarDreams';
    color: #262626;
    font-size: 15px;
    background: transparent;
    border: solid 2px whitesmoke;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}



/* footer*/

footer {
    background-color: #212832;
    text-align: center;
    height: 200px;

    h5 {
        color: white;
        margin-top: 15px;
    }
}

.flechaArriba {
    background-image: linear-gradient(#212832, #3d495c, #212832);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.linkApps {
    text-align: center;
    font-size: 10px;
    padding: 8px;

    li {
        display: inline-block;
    }
}

.fab,
.fas {
    color: #e2dfa2;
    padding: 0px 15px 0px 15px;

    &:hover {
        color: whitesmoke;
        transform: scale(1.3, 1.3);
    }
}

.footer-texto {
    color: white;
    opacity: 60%;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3px;
    padding-left: 3px;
    scroll-padding-right: 3px;
}

/* MEDIA QUERY*/
@media only screen and (min-width: 768px) {

    /* index*/
    .carousel-inner .carousel-item img {
        height: 600px;
    }

    #boton-slide {
        border: white solid 3px;
        @include sizes(100px, 40px);
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .frasePrincipal p {
        font-size: 25px;
        margin: 20px 100px 20px 100px;
    }

    .index-firma {
        @include sizes(250px, 60px);
        margin-top: 20px;
        margin-bottom: 150px;
    }

    .containerBotonSubscribir {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        margin-bottom: 160px;
    }

    .botonsubscribir {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 30px;
        margin: 2px 20px 20px 5px;
    }

    .label1 {
        font-size: 15px;
        font-weight: bold;
    }

    ::placeholder {
        font-size: 25px;
    }

    .b1 {
        @include sizes(300px, 40px);

    }

    .label2 {
        border-bottom: 1px solid grey;
    }

    .botonSubs {
        font-size: 15px;
        @include sizes(300px, 40px);
        text-align: center;
        border: solid 2px #212832;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .titulo-slide {
        font-size: 80px;
        padding-bottom: 100px;
    }

    /* biografia*/

    .parrafoacercaDeMi {
        margin-left: 200px;
        margin-right: 200px;
    }

    .masAcercaDeMi p {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 10px;
    }

    .parrafo-acerca-ultimo {
        font-size: 20px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .imagenB {
        @include sizes(380px, 300px);
        border: #e2dfa2 4px solid;
    }

    .titulo-acerca-de-mi {
        font-size: 40px;
        margin-top: 20px;
    }
    /*articulos sc*/

    
    .section-blog-contenido--articulo {
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .section-blog-contenido--imagen {
        width: 500px;
        height: 300px;
        
    }
    .section-blog-contenido--texto {
        
        width: 600px;
        margin-top: 0;
        margin-left: 30px;
    }







    /* pagina general articulos*/

    .contenedor-secciones-articulos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .contenedor-secciones-articulos__boton--sc,
    .contenedor-secciones-articulos__boton--sr,
    .contenedor-secciones-articulos__boton--vv {
        @include sizes(800px, 120px);
    }

    /* articulo*/

    .articulos__imagen {
        width: 350px;
        height: 210px;
    }

    .firma-articulos__imagen {
        @include sizes(250px, 60px);
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: right;
    }

    .container-articulo__parrafo {
        margin: 250px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .container-articulo__imagen {
        @include sizes(450px, 300px);
        
    }
    .container-articulo__titulo {
        font-size: 30px;
        
    }

    /* frases*/

    .frases__imagen--sc,
    .frases__imagen--sr,
    .frases__imagen--vv {
        @include sizes(300px, 300px);
    }

    /* pagina de cada frase*/

    .contenedor-frase-sc--imagen {
        @include sizes(500px, 500px);

    }

    /* Podcast*/
    
    
    .podcast-nuevo {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 70%;
    }
    
    .podcast-imagen {
        width: 200px;
        height: 200px;
        margin-top: 0;
        margin-bottom: 0;
       
    }
    
    .podcast-contenido {
        align-items: flex-start;  
        margin-left: 20px;
        margin-top: 5px;
    }
    
    .h5podcast {
        margin-top: 10px;
    }

    .podcast-audio {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .podcast-iconos {
        justify-content: flex-start;
    }
    
    .podcast-iconos--img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
    
    .podcast-iconos--susc {
        width: 40px;
        height: 40px;
    }
    
    .podcast-h2-suscribe {
        font-size: 40px;
        font-weight: bold;
    }

    /* footer*/

    .linkApps {
        font-size: 15px;
    }
}

/* MEDIA QUERY*/
@media (min-width: 400px) and (max-width: 767px) {
    /* podcast*/

    .carousel-inner .carousel-item img {
        margin-top: 65px;
        height: 270px;
    }

    #boton-slide {
        margin-bottom: 5px;
        margin-top: 50px;
    }

    .carousel-control-prev {
        margin-top: 50px;
    }

    .carousel-control-next {
        margin-top: 50px;
    }

    .titulo-slide {
        font-size: 35px;

    } 
}